<nav class="header-nav {% if site.scrollappear_enabled %}scrollappear{% endif %}">
  <a href="{{ '/' | relative_url }}" class="header-logo" title="{{ site.name }}" style="">{{ site.name }}</a>
  <ul class="header-links">
    <li><a href="{{ 'about_en' | relative_url }}" title="About me">About</a></li>
    <li><a href="{{ 'products_en' | relative_url }}" title="About me">Products</a></li>
    <li><a href="{{ 'research_en' | relative_url }}" title="About me">Research</a></li>
    <li><a href="{{ 'contact_en' | relative_url }}" title="About me">Contact</a></li>
  </ul>
</nav>
