<nav class="header-nav {% if site.scrollappear_enabled %}scrollappear{% endif %}">
  <a href="{{ 'index_ko' | relative_url }}" class="header-logo" title="{{ site.name }}" style="">{{ site.name }}</a>
  <ul class="header-links">
    <li><a href="{{ 'about_ko' | relative_url }}" title="About me">회사소개</a></li>
    <li><a href="{{ 'products_ko' | relative_url }}" title="About me">제품</a></li>
    <li><a href="{{ 'research_ko' | relative_url }}" title="About me">연구</a></li>
    <li><a href="{{ 'contact_ko' | relative_url }}" title="About me">오시는길</a></li>
  </ul>
</nav>
